<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container" id="app">
    <div class="row">
        <div class="col">
            <img id="sw1" src="./1/sw.jpg" class="rounded" width="200px">
            <img id="sw2" src="./1/sw.png" class="rounded" width="200px">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div>
                Red: {{ picker.red }}
                <input id="red" type="range" min="0" max="256" step="1" v-model="picker.red" @change="handlerChangeVerlayColor"/>
                Green: {{ picker.green }}
                <input id="green" type="range" min="0" max="256" step="1" v-model="picker.green" @change="handlerChangeVerlayColor"/>
                Blue: {{ picker.blue }}
                <input id="blue" type="range" min="0" max="256" step="1" v-model="picker.blue" @change="handlerChangeVerlayColor"/>
                Alpha: {{ picker.alpha }}
                <input id="alpha" type="range" min="0" max="1" step="0.05" v-model="picker.alpha" @change="handlerChangeVerlayColor"/>

                <button type="button" @click.prevent="handlerDownload">下載圖片</button>
            </div>
            <div class="col-sm">
                luminance: {{ hsl.luminance }}
                <input id="luminance" type="range" min="-2" max="2" step="0.1" v-model="hsl.luminance" @change="handlerGrayscaleHSL"/>
            </div>
            <div class="col-sm">
                <v-stage :config="stage" ref="stage">
                    <v-layer ref="backendLayer">
                        <v-group ref="backendGroup">
                            <v-image ref="background" :config="background"></v-image>
                            <v-image ref="grayscale" :config="grayscale"></v-image>
                            <v-image ref="overlay" :config="overlay"></v-image>
                        </v-group>
                    </v-layer>
                </v-stage>
            </div>
        </div>
    </div>
</div>
<style>
    #app .konvajs-content {
        border: 1px solid #1f1f1f;
    }
</style>
<script src="./dist/index.min.js"></script>
</body>
</html>
